<h1>
    User Profile
</h1>
<% if(typeof(message) !='undefined' ) { %>
    <h5 style="color:red;">
        <%= message %>
    </h5>
    <% } %>
        <p>
            After Login the user will reach here.
        </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>