<h1>
    Login Page
</h1>
<% if(typeof(errorMessage) !='undefined' ) { %>
    <h5 style="color:red;">
        <%= errorMessage %>
    </h5>
    <% } %>
        <form action="/user/login" method="POST">
            <label for="username">UserName</label>
            <input type="text" placeholder="username" id="xyz" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <button>Login</button>
        </form>
        <ul>
            <li><a href="/">index</a></li>
            <li><a href="/user/register">SignUp</a></li>
        </ul>